body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    background-color: #2d2d2d;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: bold;
}

.avatar {
    width: 70px;
    height: 70px;
}

.name {
    opacity: 0;
    /* Текст невидим */
    white-space: nowrap;
    position: absolute;
    /* Абсолютное позиционирование для перекрытия */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Плавное появление текста */
    transform: translateX(20px);
    /* Смещаем текст вправо изначально */
    color: #ffffff;
    /* Цвет текста */
}

.user_name {
    opacity: 1;
    /* Текст невидим */
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-top: 5px;
    white-space: nowrap;
    color: #ffffff;
    /* Цвет текста */
    padding-bottom: 5px;

}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    padding-left: 10px;
    /* Отступ слева для иконки */
    margin: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff00;
    /* Прозрачный текст по умолчанию */
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: initial;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    /* Плавный переход */
    flex-direction: column;
    align-content: center
}

.link img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    /* Плавное движение иконки */
    position: relative;
    /* Для управления смещением */
    z-index: 1;
    /* Иконка всегда выше текста */
}

.link:hover .name {
    opacity: 1;
    /* Показываем текст */
    transform: translateX(0);
    /* Возвращаем текст в исходное положение */
    color: #ffffff;
    /* Цвет текста */
}

.link:hover img {
    transform: translateX(-115px);
    /* Иконка сдвигается влево */
}

.telegram {
    background-color: #229ED9;
}

.github {
    background-color: #333;
}

.vk {
    background-color: #4C75A3;
}

.email {
    background-color: #404040;
}

.site {
    background-color: #fd973c;
}

.caption {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 2px;
}

.logo {
    margin-right: 10px;
}

.contact_button {
    background-color: #5cb85c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    color: #2d2d2d;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: initial;
    width: 100%;
}

.subtitle {
    display: block;
    font-size: 0.8em;
    color: rgb(210, 210, 210);
    margin-top: 5px;
    flex-grow: 1;
    text-align: center;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120% !important;
}

.main {
    box-sizing: revert;
    display: block;
    unicode-bidi: isolate;
}

/* Контейнер для выпадающего меню */
.dropdown {
    width: 100%;
}

/* Кнопка для открытия меню */
.dropdown-button {
    background-color: #5cb85c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    color: #2d2d2d;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: initial;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-button:hover {
    background-color: #4cae4c;
}

/* Скрытое содержимое меню */
.dropdown-content {
    max-height: 0;
    /* Скрываем содержимое */
    overflow: hidden;
    /* Скрываем текст, если высота равна 0 */
    background-color: #2d2d2d;
    color: white;
    padding: 0 20px;
    /* Убираем внутренние отступы, пока меню скрыто */
    border-radius: 10px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    /* Анимация высоты и отступов */
}

/* Текст внутри меню */
.dropdown-content p {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

.dropdown-content p:last-child {
    border-bottom: none;
}

/* Когда меню открыто */
.dropdown-content.show {
    max-height: 300px;
    /* Устанавливаем максимальную высоту для открытого меню */
}

.tooltip {
    position: absolute;
    bottom: 120%;
    /* Расположение над ссылкой */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    /* Цвет фона */
    color: #fff;
    /* Цвет текста */
    padding: 5px 10px;
    /* Отступы */
    border-radius: 5px;
    /* Скругленные углы */
    font-size: 12px;
    /* Размер текста */
    opacity: 0;
    /* Скрыто по умолчанию */
    visibility: hidden;
    /* Скрыто по умолчанию */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    /* Плавное появление */
    white-space: nowrap;
    /* Запрет переноса текста */
    z-index: 10;
    /* Поверх других элементов */
}

.link .tooltip.show {
    opacity: 1;
    /* Показываем */
    visibility: visible;
    /* Делаем видимым */
}

*,
::after,
::before {
    box-sizing: revert;
}

@media (max-width: 768px) {
    .link {
        justify-content: center;
        /* Центрируем иконки */
        padding: 10px;
    }

    .link img {
        margin-right: 0;
        /* Убираем отступы */
    }

}